@import "tailwindcss";

:root {
  --color-background: oklch(21.033% 0.00588 285.832);
  --color-foreground: oklch(98.5% 0 0);
  --color-focus-outline: oklch(60% 0 0 / 0.5);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
:focus-visible {
  outline: 2px solid var(--color-focus-outline);
  outline-offset: 2px;
  transition: outline-color 0.2s;
  border-radius: 4px;
  z-index: 1000;
}

/* Scrollbar personnalisée fine et grise transparente */
::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 130, 0.18);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 130, 0.28);
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 130, 0.18) transparent;
}
